<div class="general container-fluid bg-dark">

  <div class="accesos">
    <h3>Contáctenos</h3>
    <section>
      <img src="../../assets/gmail.png" alt="">
      <a href="mailto:quevedo.kevin1994@gmail.com">quevedo.kevin1994@gmail.com</a>
    </section>
  </div>

  <div class="accesos">
    <h3>Nuestras Redes</h3>
    <section>
      <img src="../../assets/github.png" alt="">
      <a href="https://www.github.com/kevquevedo" target="_blank">Github</a>
    </section>

    <section>
      <img src="../../assets/instagram.png" alt="">
      <a href="https://www.instagram.com/kevquevedo/" target="_blank">Instagram</a>
    </section>

    <section>
      <img src="../../assets/linkedin.png" alt="">
      <a href="https://www.linkedin.com/in/kevin-quevedo/" target="_blank">LinkedIn</a>
    </section>
  </div>

  <div class="accesos">
    <h6>® QuevedoJuegos</h6>
    <h6>Todos los derechos reservados.</h6><br><br><br>
    <h6>Desarrollado por <i>Kevin Quevedo Dev</i></h6>
  </div>

</div>
