<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary " data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" >QuevedoJuegos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="inicio" class="nav-link text-light">Inicio</a></li>
        <li class="nav-item"><a routerLink="juegos" class="nav-link text-light">Juegos</a></li>
        <li class="nav-item"><a routerLink="chat" class="nav-link text-light">Chat</a></li>
        <li class="nav-item"><a routerLink="quien-soy" class="nav-link text-light">Quien Soy</a></li>
      </ul>

    </div>

    <!-- BOTONES DE LOGIN Y LOGOUT -->
    <ng-container *ngIf="usuarioRegistrado == undefined">
      <button type="button" class="ms-auto btn btn-primary" id="inicio" routerLink="login">Iniciar Sesión</button>
    </ng-container>

    <ng-container *ngIf="usuarioRegistrado != undefined" >
      <small class="text-light mx-2">Hola <small class="text-primary">{{usuarioRegistrado}}</small> !</small>
      <button type="button" class="ms-auto btn btn-outline-danger" id="cierre" (click)="cerrarSesion()">Cerrar Sesión</button>
    </ng-container>

  </div>
</nav>
