div{
  width: 100%;
  padding: 15px;
}

p{
  margin-top: 0;
}

.bienvenida{
  position: relative;
  z-index: 1;
}

.contenido{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bienvenida::before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../../../assets/fondo-transparente-videojuegos.avif);
  background-attachment: fixed;
  opacity: 0.25;
}

.texto,
.carousel{
  border-radius: 20px;
  background-color: #212529;
  color: white;
  font-weight: bold;
  font-size: 20pt;
  padding: 20px;
  width: 100%;
}

img{
  width: 200px;
  height: 400px;
}
.carousel{
  width: 35%;
}

