<div class="bienvenida">
  <div class = "contenido">
    <p class="texto">
      Hola mi nombre es Kevin<br>
      ¡Bienvenidos a mi página de juegos! <br> <br>
      Aqui encontrarás una serie de juegos para diversas edades y gustos. Sé que el juego es una actividad fundamental en el desarrollo de los niños y niñas, por lo que me he enfocado en ofrecer juegos que no solo diviertan, sino que tambien fomenten habilidades cognitivas, sociales y emocionales.
      <br><br>¡Explora la página y diviértete jugando!
    </p>

    <div id="carouselImgJuegos" class="carousel slide d-flex justify-content-center" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/ahorcado-canva.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/Mayor-Menor-igual.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselImgJuegos" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselImgJuegos" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
</div>
