@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&family=Tilt+Prism&display=swap');

.navbar-brand{
  font-family: 'Tilt Prism', cursive;
  font-weight: 400;
  font-size: 30pt;
}
