<div class="loading" *ngIf="loading">
  <img class="loader" src="../../assets/infinity.gif" alt="">
</div>
<main class="container-fluid cuerpo" *ngIf="!loading">

  <div class="banner p-4 p-md-5 mb-4 rounded text-bg-dark shadow w-75">
    <div class="col-md-6 px-0 text-end">
      <h1 class="display-5 fst-italic mb-4">Sobre mí</h1>
      <p class="lead px-auto">Soy estudiante de la Tecnitura Superior en Programación en la Universidad Tecnologica Nacional.</p>
      <p>Amplié mis conocimientos realizando cursos y certificandome</p>
      <p> en instituciones como <a href="https://www.coderhouse.com/" target="_blank">CoderHouse</a> y <a href="https://www.educacionit.com/" target="_blank">Educación IT.</a></p>
      <br><p>Actualmente me desempeño como Desarrollador Cobol en Prisma Medios de Pago, </p>
      <p>especializado en el procesamiento de emisión de tarjetas de débito, crédito y prepagas, </p>
      <p>para las marcas Visa, Mastercard y American Express.</p>
    </div>
  </div>

  <div class="row">

    <div class="col">
      <div class="row border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Datos Personales</strong><br>
          <h4 class="mb-0">Nombres y Apellidos</h4>
          <p class="m-3 text-body-secondary">Kevin Axel Quevedo</p>
          <h4 class="mb-0">DNI</h4>
          <p class="m-3 text-body-secondary">38.585.829</p>
          <h4 class="mb-0">Estado Civil</h4>
          <p class="m-3 text-body-secondary">Casado</p>
          <h4 class="mb-0">Edad</h4>
          <p class="m-3 text-body-secondary">28 Años</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Juego Propio</strong>
          <h4 class="mb-0">*nombre de juego*</h4>
          <div class="mb-3 text-body-secondary">*explicación de juego*</div>

        </div>
      </div>
    </div>

  </div>

</main>
