<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>

<div>
  <div class="toast-container position-fixed bottom-0 end-0 p-3 ">
    <div id="toast" class="toast text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Mensaje</strong>
        <small>Ahora</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Debe iniciar sesión para poder utilizar el chat.
      </div>
    </div>
  </div>
</div>

