main{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
}

form, button{
  margin: 10px;
  width: 100%;
}

section:first-child{
  width: 20%;
  height: 60%;
  background-image: url(../../assets/recepcion.gif);
  background-repeat: no-repeat;
  background-size: contain;
}

div{
  display: flex;
  flex-direction: row;
  margin: 10px;
  width: 100%;
}

button{
  width: 100%;
}

h1{
  text-align: center;
  font-family: 'Tilt Prism', cursive;
  font-weight: 400;
  font-size: 30pt;
}

.datos{
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

small{
  margin-left: 10px;
  display: flex;
  justify-content: center;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.loader{
  width: 400px;
  height: 400px;
}
