<header></header>
<main>
  <section></section>
  <section>
    <h1>QuevedoJuegos</h1>
    <div>
      <!--NOMBRE-->
      <form class="form-floating">
        <input type="text" class="form-control" id="floatingNombre">
        <label for="floatingNombre">Nombre</label>
      </form>

      <!--APELLIDO-->
      <form class="form-floating">
        <input type="text" class="form-control" id="floatingApellido">
        <label for="floatingApellido">Apellido</label>
      </form>
    </div>

    <!--EMAIL-->
    <form class="form-floating">
      <input type="email" class="form-control" id="floatingEmail">
      <label for="floatingEmail">Email</label>
    </form>

    <!--CONTRASEÑA-->
    <form class="form-floating">
      <input type="email" class="form-control" id="floatingPass1" >
      <label for="floatingPass1">Contraseña</label>
    </form>

    <!--REINGRESO CONTRASEÑA-->
    <form class="form-floating">
      <input type="email" class="form-control" id="floatingPass2">
      <label for="floatingPass2">Reingrese contraseña</label>
    </form>

    <button class="btn btn-primary" type="submit">Registrarse</button>

  </section>

</main>
<footer><p>© 2023 - Desarrollado por <i>Kevin Quevedo Dev</i></p></footer>
